APScheduler
asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-appconf
django-crispy-forms
django-cryptography
django-taggit
djangorestframework
gunicorn
idna
numpy
oauthlib
pycparser
PyJWT
python3-openid
pytz
pytz-deprecation-shim
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
twython
tzdata
tzlocal
urllib3
whitenoise
dj-database-url
db-sqlite3
# sqlite-devel
libsqlite3-dev
python-decouple
whitenoise
django-widget-tweaks