{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Product | COMMONDAYS</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
      <div id="content" class="p-4 p-md-5 pt-5">
        <nav aria-label="breadcrumb" style="margin-bottom: 30px;">
            <h1 style="text-align:left;">
                <b style="color: #588eaa;">Products</b>
                <span style="float:right;">
                    <a class="btn add-new text-white" role="button" aria-pressed="true" style="float: right; background-color: #588eaa;" href="addProduct/" ><i class="fa fa-plus"></i> Add New Product</a>
                </span>
            </h1>
            <div>
            
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard/">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
          </nav>
        <div>
        </div>
            <div>
                <div class="row">
                    <div class="col-lg mx-auto bg-white rounded shadow">
                        <div class="table-responsive" style="overflow-x: auto;">
                            <table class="table">
                                <thead class="thead-bordered">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Created</th>
                                        <th scope="col" style="width:50px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in product %}
                                    <tr>
                                        <th scope="row"><a href="detail/{{product.id}}"><B>{{product.name}}</B></a></th>
                                        <td><a href="detail/{{product.id}}">{{product.description}}</a></td>
                                        <td>{{product.created_at|date:"d M y"}}</td>
                                        <td><a class="delete" title="Delete" data-toggle="tooltip" href='/table/delete/{{statement.id}}'  onclick="return confirm('Are you sure you want to delete this item?');"><i class="material-icons">&#xE872;</i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
      </div>
</body>
</html>


	


{% endblock %}