

{% extends 'index.html' %}

{% block title %}
Login Here
{% endblock %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Create Statement | COMMONDAYS</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .bootstrap-tagsinput {
        border: solid 1px #e6e6e6;
        background-color: #e6e6e6;
        border-radius:25px;
    }
    input{
        background-color: #e6e6e6;
    }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/trade.css' %}">
</head>
<body>
      <div id="content" class="p-4 p-md-5 pt-5">
        <nav aria-label="breadcrumb" style="margin-bottom: 30px;">
            <h1 style="text-align:left;">
                <b style="color: #588eaa;">Edit Statement</b>
            </h1>
            <div>
            
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href=""></a>Dashboard</li>
                <li class="breadcrumb-item"><a href="/table/{{account_id}}/" onclick="return confirm('Are you sure you want to discard your changes?');">Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Statement</li>
            </ol>
          </nav>
          <form method="POST" action="/table/{{account_id}}/update/{{get_statement.id}}" onsubmit="return checkForm(this);">
            {% csrf_token %}
            <p hidden>
                <input class="input100" type="text" name="posted_by" value="{{posted_by.id}}" required>
                <input class="input100" type="text" name="account" value="{{account_id}}" required>
                <input type='text' name ='id' class="form-control" value='{{get_statement.id}}' readonly>
            </p>
            <div class="toggle">
                {% if get_statement.option == 'outcome' %}
                <input class="income" type="radio" name="option" value="income" id="sizeWeight" onclick="income();" disabled>
                <label for="sizeWeight">I N C O M E</label>
                <input class="outcome" type="radio" name="option" value="outcome" id="sizeDimensions" onclick="outcome();" checked>
                <label for="sizeDimensions">O U T C O M E</label>
                {% else %}
                <input class="income" type="radio" name="option" value="income" id="sizeWeight" onclick="income();" checked>
                <label for="sizeWeight">I N C O M E</label>
                <input class="outcome" type="radio" name="option" value="outcome" id="sizeDimensions" onclick="outcome();" disabled>
                <label for="sizeDimensions">O U T C O M E</label>
                {% endif %}
            </div>

            
            <lable style="margin-left: 25px; font-size: 18px;"><b style="color: red; font-size: 20px;">* </b><b>Date :</b></lable>
            <div class="wrap-input100 validate-input" style="margin-bottom: 40px; margin-top: 15px;">
                <input class="input100" type="date" name="date" value="{{get_statement.date |date:'Y-m-d'}}" required>
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>

        
            <lable style="margin-left: 25px; font-size: 18px;"><b style="color: red; font-size: 20px;">* </b><b>Items :</b></lable>
            <div class="wrap-input100 validate-input" style="margin-bottom: 40px; margin-top: 15px;">
                <input class="input100" type="text" name="item" value="{{get_statement.item}}" required>
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-info" aria-hidden="true"></i>
                </span>
            </div>
            <div class="outcome-amount" id="outcome">
                <lable style="margin-left: 25px; font-size: 18px;"><b style="color: red; font-size: 20px;">* </b><b>Amount:</b></lable>
                <div class="wrap-input100 validate-input" style="margin-bottom: 40px; margin-top: 5px;">
                    {% if get_statement.option == 'income' %}
                    <input class="input100" type="float" name="outcome_amount" hidden>
                    <input class="input100" type="float" name="income_amount" min="0.01" value="{{get_statement.income_amount}}">
                    {% else %}
                    <input class="input100" type="float" name="income_amount" hidden>
                    <input class="input100" type="float" name="outcome_amount" min="0.01" value="{{get_statement.outcome_amount}}">
                    {% endif %}
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </span>
                </div>
            </div>

             <div class="form-group">
                <label style="margin-left: 25px; font-size: 18px;"><b style="color: red; font-size: 20px;">* </b><b>Tags :</b></label>
                <input type="text" data-role="tagsinput" class="form-control" name="tags" value="{{get_statement.tags.all.0}}, {{get_statement.tags.all.1}}, {{get_statement.tags.all.2}}, {{get_statement.tags.all.3}}, {{get_statement.tags.all.4}}, {{get_statement.tags.all.5}}, {{post.tags.all.6}}, {{post.tags.all.7}}, {{post.tags.all.8}}, {{post.tags.all.9}} " required>
            </div>
            
        
            
            <input type="submit" class="btn btn-info" name="myButton" value="Submit" style="background-color: #588eaa; border-color: #588eaa;">
            <a href='/table/{{account_id}}/' class='btn btn-danger' onclick="return confirm('Are you sure you want to discard your changes?');">Back</a>
            <a style="color: #c80000;">{{ form.errors }}{{error}}</a>
        </form>
      </div>
</body>
</html>


	


{% endblock %}